.tab_header{
    position: fixed;
    width: 100%;
    z-index: 999; 
    // top: 65px;
}
.ant-anchor-wrapper{
    padding-top: 15px;
    background: #fff;
}
.tab_header .ant-anchor-ink{
    display: none;
}
.tab_header .ant-anchor-link{
    display: inline-block;
    padding: 0;
    border-right: 1px solid #eae8e8;
    .ant-anchor-link-title{
        overflow: inherit;
        text-decoration: none;
        padding: 10px 30px;
    }
    .ant-anchor-link-title:hover{
        color: #FD9A70;
    }
}
.tab_header .ant-anchor{
    background-color: #F5F5F5;
    border-bottom: 1.5px solid #FD9A70; 
    padding-left: 0;
}

.tab_header .ant-anchor-link-active{
    background-color: #FD9A70;
    .ant-anchor-link-title, .ant-anchor-link-title:hover{
        color: #fff;
    }
    
}
.tab_module{
    margin: 15px 0;
    border: 1px solid #eee;
    // padding: 20px;
    // padding-top: 0;
    .module_title{
        background-color: #F5F5F5;
        padding: 7px 30px;
        position: relative;
        .green_tip{
            background-color: #2BAE82;
            height: 16px;
            width: 5px;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
        }
    }
    .module_main{
        padding: 20px;
    }
}
#technological-process .ant-table-thead > tr > th{
    background: #fff;
}

#wy-scroll-layout {
    #viewing_sample .ant-form-item > .ant-form-item-control-wrapper {
        -webkit-box-flex: inherit;
        -webkit-flex: inherit;
        -ms-flex: inherit;
        flex: inherit;
    }
    #viewing_sample .ant-form-item > .ant-form-item-label{
        -webkit-box-flex: inherit;
        -webkit-flex: inherit;
        -ms-flex: inherit;
        flex: inherit;
    }
    .ant-form-item{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .ant-form-item > .ant-form-item-label{
        -webkit-box-flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
        label{
            white-space: pre-wrap;
        }
    }
    .flex_evaluateDate .ant-form-item > .ant-form-item-label{
        -webkit-box-flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
    }
    .flex_add .ant-form-item > .ant-form-item-control-wrapper{
        -webkit-box-flex: 12;
        -webkit-flex: 12;
        -ms-flex: 12;
        flex: 12;
    }
    .ant-form-item > .ant-form-item-control-wrapper{
        -webkit-box-flex: 5;
        -webkit-flex: 5;
        -ms-flex: 5;
        flex: 5;
    }

}
#others-detail .ant-form-item > .ant-form-item-control-wrapper {
    -webkit-box-flex: 23;
    -webkit-flex: 23;
    -ms-flex: 23;
    flex: 23;
}
.operation_list button{
    margin-left: 10px;
}
.margin_t_20{
    padding: 20px 0;
    width: 100%;
    background: #fff;
}
.width_half_img{
    display: inline-block;
    min-height: 100px;
}
.img_box_c .width_half_img:nth-child(odd){
    width: 45%;
}
.img_box_c .width_half_img:nth-child(even){
    width: 55%;
}
.img_box_s .width_half_img:nth-child(odd){
    margin-right: 5%;
    width: 50%;
}
.img_box_s .width_half_img:nth-child(even){
    width: 45%;
}
.img_box_c{
    position: relative;
}

.img_box_line{
    left: 50%;
    position: absolute;
    height: 100%;
    top: 0;
}
#wy-scroll-layout{
    position: absolute;
    top: 65px;
}
.scroll_box{
    height: auto;
    overflow-y: scroll;
    max-height: 200px;
}
.detail_show_html{
    table{
        border-left: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        margin: 20px;
        td{
            border-right: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            padding: 5px;
            text-align: center;
        }
    }
}
.release_map_span{
    padding: 0px 25px;
    width: 25%;
    display: inline-block;
}
.audit_box{
    width: 100%;
    padding: 15px;
    min-height: 150px;
}
#wy-scroll-layout #audit_opinion .ant-form-item{
    margin-bottom: 0;
    textarea{
        width: 100%!important;
    }
}
#audit_opinion {
    .show_box{
        min-height: 100px;
    }
}
.release_label{
    width: 95px;
    display: inline-block;
    text-align: left;
}
.font_blod{
    font-weight: bold;
}
.suggest_opinion_box{
    border: 1px solid #e5e5e5;
    padding: 10px;
}